
<style type="text/css">

.container{
	text-align: center;
}

body .container img{
	margin-top: 30px;
}
</style>

<div class="container">

    {{#if reqs.header}}
        <div class="page-header">
            <h1 class="text-center">{{reqs.header}}</h1>
        </div>
    {{/if}}

    <form action="" method="post" class="form login col-sm-6 col-sm-offset-3" autocomplete="off" data-stage="{{reqs.stage}}">
        <fieldset class="row">
        	
			<!-- Hide the default callbacks -->
		    <div style="display: none;">	
	            {{#each reqs.callbacks}}
	                {{#if isSubmit}}
	                    {{#if ../../showRememberLogin}}
	                        {{> login/_RememberLogin }}
	                    {{/if}}
	                {{/if}}
	
	                <div class="form-group">
	                    {{callbackRender}}
	                </div>
	            {{/each}}
		    </div>
		    
		    <!-- Show an informative text and a nice image -->
	        <p><b>Insert your Security Key.</b><br /><br />If your Security Key has a button, tap it.<br />If it doesn't, remove and re-insert it.</p>
	        <img src="./templates/openam/authn/securitykey.png" />
					    
        </fieldset>
    </form>
</div>

